.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}
// .el-menu-item.is-active {
//   background-color:	#00FF7F !important;
// }
// .el-menu-item{
//   border: 1px solid;
// }
.el-menu-nav-custom-right{
  float: right !important;
}